body{
    background-color: rgb(17, 24, 39,1);
}
.white-letter{
    color: white; 
}
.nav-button{
    display:none;
}
.button-nav{
    margin-top: 20px;
    margin-left: 10px;
}
.banner{
    margin: 30px 80px 30px 80px;
    list-style-type: none;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}
.banner > li {
    display: inline-block;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: white;
}
.start-season{
    margin-left: auto;
}
.oferta-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size:small;
    padding: 10px;
}
.title{
    font-size:55px

}
.paragraph{
    font-size: large;
}
.paragraph-little{
    font-size:small;
}
.input-mail{
    border: none;
    border-radius: 4px;
    width: 450px;
    height: 40px;
    margin-right:10px;
}
.input-send{
    border: none;
    border-radius: 4px;
    background-color: rgb(54,155,168); 
    color:white;
    width: 80px;
    height: 40px;
}
.jumbotron{
    display: flex;
    justify-content: center;
}
.jumbotron-text{
    margin: 80px 80px 10px 80px;
    display:flex;
    align-items: center;
}
.jumbotron-imagen{
    max-width: 50%;
}
.guitar-imagen{
    width: 100%;
    aspect-ratio: 1.3 / 1;
}
.blog{
    background-color: white;
    display: flex;
    justify-content: center;
}
.blog-text{
    text-align: center;

}
.blog-imagen{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.blog-imagen-1{
    width: 397px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;

}
.blog-imagen-2{
    width: 397px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    
}
.blog-imagen-3{
    width: 397px;
    height: 200px;
    object-fit: cover; 
    border-radius: 4px; 
}
.blog-title2{
    font-size:medium;
    margin-left: 20px;
    margin-top:10px;
    margin-right: 20px;
}
.blog-title1{
    font-size:large;
    margin-left: 20px;
    margin-right: 20px;
}
.blog-p{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(131,136,144);
}
.flex-face-blog{
    display:flex;
    justify-content:start;
}
.face-blog{
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.p-view{
    font-size: smaller;
    margin: 5px;
}
.p-time-view{
    font-size: smaller;
    color: rgb(131,136,144);
    margin: 5px;
}
.blog-box{
    border: solid;
    width: 401px;
    border-radius: 4px;
    border-color: rgba(229,231,235);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.background-white{
    background-color: white;
}
.second-jumbotron{
    display:flex;
    justify-content: center;
}
.second-jumbotron-imagen{
    max-width: 50%;
}
.person-imagen{
    width: 725px;
    height: 525px;
}
.second-jumbotron-text{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 80px 80px 10px 50px;
}
.title2{
    font-size: 35px;
}
.contact-button{
    border-radius:4px;
    width: 190px;
    height: 45px;
    padding: 8px 16px 8px 16px;
    font-weight: bold;
    margin-bottom: 100px;
}
.footer{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    display: flex;
    justify-content: flex-start;
    margin: 60px
}
.link-botton{
    color: rgb(156,163,175);
    cursor: pointer;
    margin: 20px;
}
.link-footer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.list-footer{
    list-style-type: none;
    flex: 1;
    margin:50px 30px;
    color: rgb(156,163,175);
}
.list-footer > li{
    margin: 10px;
}
.derechos{
    background-color: white;
    color: rgb(156,163,175);
    display:flex;
    justify-content: center;
}
hr{
    margin: 0px 80px 0px 80px;
    border-color:rgb(156,163,175);
}
.background-hr{
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .banner {
        display: none;
    }
    .nav-button{
        display:block;
    }
    .banner > li {
        display: flex;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .jumbotron{
        display: block;
        margin: 2px;
    }
    .jumbotron-imagen{
        margin: 0;
        max-width: 100%;
        height: auto;
    }
    .blog-box{
        margin: 20px;
    }
    .second-jumbotron{
        display: block;
    }
    .derechos{
        margin: 20px;
    }
    .jumbotron-text,
    .jumbotron-imagen,
    .blog,
    .second-jumbotron-text,
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .jumbotron-text,
    .jumbotron-imagen,
    .second-jumbotron-text {
        margin: 20px;
    }
    .second-jumbotron-imagen,
    .guitar-imagen,
    .person-imagen{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .blog-imagen-1,
    .blog-imagen-2,
    .blog-imagen-3{
        width: 350px;
        height: 200px;
    }
    .input-mail {
        width: 100%;
        margin-right: 0;
    }
    .input-send {
        width: 100%;
        margin-top: 10px;
    }
    .list-footer {
        margin: 0px;
    }
    .blog-imagen {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .link-footer{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    margin: 20px
    }
    .list-footer{
    padding: 0;
    }
    .list-footer > li{
    margin: 0px;
    }
}