body{
    background-color: rgb(17, 24, 39,1);
    color: white;
}
.register{
    display: flex;
    justify-content: center;
    margin: 200px 150px 100px 200px;
}
.email-button,
.password-button{
    width: 300px;
}
.small-text{
    color: rgb(156,163,175);
}

@media only screen and (max-width: 600px){
    .register {
        margin: 50px 10px;
    }
}